<template id="badgesSectionTemplate">
    <div class="card">
        <h2 class="card-title">
            <i class="las la-certificate"></i> Badges
        </h2>

        <table class="table" id="regBadges">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Rules</th>
                    <th class="text-right">Image</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <button id="addNewBadgeBt" class="btn btn-primary btn-sm" type="button" data-toggle="tooltip" data-title="Add new game badge" data-placement="right">&plus;</button>

    </div>
</template>