<template id="sectionViewTemplate">
    <div class="card">
        <h2 class="card-title">
            <i class="las la-puzzle-piece"></i>
            <div data-role="sectionTitle" class="d-inline-block" id="sectionName">Section title</div>
            <div class="d-inline-block ml-auto">
                <button data-role="edit" class="btn btn-sm" data-toggle="tooltip" data-title="Edit section title" data-placement="top"><i class="las la-edit"></i></button>
                <button data-role="save" class="btn btn-sm d-none" data-toggle="tooltip" data-title="Save section title" data-placement="top"><i class="las la-check"></i></button>
                <button data-role="cancel" class="btn btn-sm d-none" data-toggle="tooltip" data-title="Cancel" data-placement="top"><i class="las la-window-close"></i></button>
            </div>
        </h2>

        <details class="collapse-panel">
            <summary class="collapse-header">
                Header
            </summary>
            <div class="collapse-content">
                <input type="text" data-role="header-text" class="form-control" placeholder="Header text" />
                <input type="text" data-role="header-image" id="header-image-selector" class="form-control" placeholder="Header image" />
            </div>
        </details>

        <details class="collapse-panel">
            <summary class="collapse-header">
                Content
            </summary>
            <div class="collapse-content">
                <textarea data-role="sceneContent" class="form-control"></textarea>
                <div class="btn-group" role="group" aria-label="Add content">
                    <button class="btn" data-role="monolog">Monolog</button>
                    <button class="btn" data-role="dialogue">Dialogue</button>
                    <button class="btn" data-role="text">Text</button>
                    <button class="btn" data-role="shout">Shout</button>
                    <button class="btn" data-role="link">Link</button>
                    <button class="btn" data-role="image">Image</button>
                    <button class="btn" data-role="video">Video</button>
                </div>
            </div>
        </details>

        <details class="collapse-panel">
            <summary class="collapse-header">
                Actions
            </summary>
            <div class="collapse-content">
                <textarea data-role="sceneActions" class="form-control"></textarea>
                <div class="btn-group" role="group" aria-label="Add Action">
                    <button class="btn" data-role="action">Action</button>
                </div>
            </div>
        </details>

        <details class="collapse-panel">
            <summary class="collapse-header">
                State
            </summary>
            <div class="collapse-content">
                <textarea data-role="sceneStateChanges" class="form-control"></textarea>
                <div class="btn-group" role="group" aria-label="Add State">
                    <button class="btn" data-role="state">State change</button>
                </div>
            </div>
        </details>

        <details class="collapse-panel">
            <summary class="collapse-header">
                Extended info
            </summary>
            <div class="collapse-content">
                <textarea data-role="sceneExtended" class="form-control"></textarea>
                <div class="btn-group" role="group" aria-label="Add Extended info">
                    <button class="btn" data-role="extended">Create</button>
                    <button class="btn" data-role="extendedContent">Add dialogue</button>
                    <button class="btn" data-role="extendedContentVideo">Add Video</button>
                </div>
            </div>
        </details>


        <div class="d-block text-right">
            <button data-role="deleteSection" class="btn btn-sm" data-toggle="tooltip" data-title="Delete section" data-placement="top"><i class="las la-trash"></i></button>
            <button data-role="displaySource" class="btn btn-sm" data-toggle="tooltip" data-title="Edit source" data-placement="top"><i class="las la-code"></i></button>
        </div>

    </div>
</template>