<template id="stateButtonsTemplate">
    <button data-role="edit" class="btn btn-primary btn-sm" data-toggle="tooltip" data-title="Edit state item"
        data-placement="top">
        <i class="las la-edit"></i>
    </button>
    <button data-role="save" class="btn btn-success btn-sm d-none" data-toggle="tooltip" data-title="Save changes"
        data-placement="top">
        <i class="las la-check"></i>
    </button>
    <button data-role="cancel" class="btn btn-secondary btn-sm d-none" data-toggle="tooltip" data-title="Cancel"
        data-placement="top">
        <i class="las la-window-close"></i>
    </button>
    <button data-role="delete" class="btn btn-danger btn-sm" data-toggle="tooltip" data-title="Delete state item"
        data-placement="top">
        <i class="las la-trash"></i>
    </button>
</template>