<template id="themeSettings">

    <div class="card">
        <h2 class="card-title">

        </h2>
        <div>
            <div class="form-group">
                <label for="themeBaseFont">Basis Font</label> <input type="text" id="themeBaseFont" class="form-control">
            </div>
            <div class="form-group">
                <label for="themeBaseTextColor">Basis tekst farge</label> <input type="text" id="themeBaseTextColor" class="form-control">
            </div>
            <div class="form-group">
                <label for="themeBaseBgColor">Basis bakgrunsfarge</label> <input type="text" id="themeBaseBgColor" class="form-control">
            </div>
            <div class="form-group">
                <label for="themeBaseButtonColor">Standard knapp bakgrunsfarge</label> <input type="text" id="themeBaseButtonColor" class="form-control">
            </div>
            <div class="form-group">
                <label for="themeBaseButtonTextColor">Standard knapp skrift farge</label> <input type="text" id="themeBaseButtonTextColor" class="form-control">
            </div>
            <div class="form-group">
                <label for="themeBaseFooterColor"> Font</label> <input type="text" id="themeBaseFooterColor" class="form-control">
            </div>
        </div>

        <!--
            
    --footerBackgroundColor:#365555;
    --headerBackgroundColor: #F5F5F5;
    --text-color: #FFFFFF;
    --peek-text-color: #FFFFFF;
    --headerFontColor: #020202;
        -->
    </div>

</template>