<template id="avatarSelectionTemplate">
    <div class="scene" id="avatarSelector">
        <img src="images/avatar/avatar_1.svg" data-img="images/avatar/avatar_1.svg" class="badge">
        <img src="images/avatar/avatar_2.svg" data-img="images/avatar/avatar_2.svg" class="badge">
        <img src="images/avatar/avatar_3.svg" data-img="images/avatar/avatar_3.svg" class="badge">
        <img src="images/avatar/avatar_4.svg" data-img="images/avatar/avatar_4.svg" class="badge">
        <img src="images/avatar/avatar_5.svg" data-img="images/avatar/avatar_5.svg" class="badge">
        <img src="images/avatar/avatar_6.svg" data-img="images/avatar/avatar_6.svg" class="badge">
        <img src="images/avatar/avatar_7.svg" data-img="images/avatar/avatar_7.svg" class="badge">
        <img src="images/avatar/avatar_8.svg" data-img="images/avatar/avatar_8.svg" class="badge">
        <img src="images/avatar/avatar_9.svg" data-img="images/avatar/avatar_9.svg" class="badge">
        <img src="images/avatar/avatar_10.svg" data-img="images/avatar/avatar_10.svg" class="badge">
        <img src="images/avatar/avatar_11.svg" data-img="images/avatar/avatar_11.svg" class="badge">
        <img src="images/avatar/avatar_12.svg" data-img="images/avatar/avatar_12.svg" class="badge">
        <img src="images/avatar/avatar_13.svg" data-img="images/avatar/avatar_13.svg" class="badge">
        <img src="images/avatar/avatar_14.svg" data-img="images/avatar/avatar_14.svg" class="badge">
        <img src="images/avatar/avatar_15.svg" data-img="images/avatar/avatar_15.svg" class="badge">
        <img src="images/avatar/avatar_16.svg" data-img="images/avatar/avatar_16.svg" class="badge">
        <img src="images/avatar/avatar_17.svg" data-img="images/avatar/avatar_17.svg" class="badge">
        <img src="images/avatar/avatar_18.svg" data-img="images/avatar/avatar_18.svg" class="badge">
        <img src="images/avatar/avatar_19.svg" data-img="images/avatar/avatar_19.svg" class="badge">
        <img src="images/avatar/avatar_20.svg" data-img="images/avatar/avatar_20.svg" class="badge">
        <img src="images/avatar/avatar_21.svg" data-img="images/avatar/avatar_21.svg" class="badge">
        <img src="images/avatar/avatar_22.svg" data-img="images/avatar/avatar_22.svg" class="badge">
        <img src="images/avatar/avatar_23.svg" data-img="images/avatar/avatar_23.svg" class="badge">
    </div>
</template>