<template id="createPlayerProfile">
    <div id="holder" class="scene">
        <div class="content center">
            <image src="images/avatar/avatar_1.svg" alt="avatar" id="avatarImage"></image>
            <h1>Velkommen</h1>
            <input type="text" id="profileName" placeholder="Name">
            <input type="hidden" id="profileAvatar">

            <div class="actions">
                <button id="saveProfileBt">Save</button>
            </div>
        </div>
    </div>
</template>