<template id="playerProfile">
    <div id="holder" class="scene">
        <div class="content center">
            <header class="content center">
                <div class="content center">
                    <img src="images/avatar/avatar_1.svg" alt="avatar" id="playerAvatar" class="badge" />
                </div>
                <div id="playerName" style="text-align: center; margin-bottom: 1rem;"></div>
            </header>

            <button id="continueBt">Start</button>
            <div id="badgesListing" class="center">
            </div>
        </div>
    </div>
</template>
