

.thumbnail {
    max-width: 320px;

}

*[contenteditable="true"] {
    background-color: var(--dm-input-bg-color);
    border-color: var(--dm-input-border-color);
    box-shadow: var(--dm-input-box-shadow);
}